<div class="w-full mt-5 flex-col justify-center object-contain">
    <label for="default-search" class="mb-2 text-sm font-medium text-gray-900 sr-only dark:text-white">Search</label>
    <div class="relative w-full">

        <input type="search" id="default-search" #userFilterData (input)="handleUserFiltering(userFilterData.value)"
            class="block w-full p-4 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            placeholder="Buscar usuario" />
        <button
            class="text-white absolute end-2.5 mb-2 bottom-2.5 bg-orange-500 hover:bg-orange-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 dark:bg-orange-600 dark:hover:bg-orange-700 dark:focus:ring-blue-800">
            Crear nuevo usuario
        </button>
    </div>

</div>
<div class="p-8 grid grid-cols-2 gap-6 relative">
    @for (usuario of userService.lUsuarios(); track $index) {
    <app-user-card [user]="usuario"></app-user-card>
    }
</div>