@if (userDataError() === '') {

<div class="flex flex-wrap -mx-3 mb-6 mt-10">
    <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
        <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-first-name">
            Nombre
        </label>
        <input #nombreInput value="{{user().nombre}}" (input)="handleInputChange(nombreInput.value,'nombre')"
            class="appearance-none block w-full bg-gray-200 text-gray-700 border border-red-500 rounded py-3 px-4 mb-1 leading-tight focus:outline-none focus:bg-white"
            id="grid-first-name" type="text" placeholder={{user().nombre}}>
        <p class="text-red-500 text-xs italic">{{nombreInputError()}}</p>
    </div>
    <div class="w-full md:w-1/2 px-3">
        <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-last-name">
            Apellidos
        </label>
        <input value="{{user().apellidos}}" #apellidosInput
            (input)="handleInputChange(apellidosInput.value,'apellidos')"
            class="mb-1 appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
            id="grid-last-name" type="text" placeholder={{user().apellidos}}>
        <p class="text-red-500 text-xs italic">{{apellidosInputError()}}</p>
    </div>
</div>
<div class="flex flex-wrap -mx-3 mb-6">
    <div class="w-1/2 px-3">
        <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-password">
            Usuario
        </label>
        <input value="{{user().usuario}}" #userInput (input)="handleInputChange(userInput.value,'usuario')"
            class="mb-1 appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
            id="grid-password" type="text" placeholder={{user().usuario}}>
        <p class="text-red-500 text-xs italic">{{userInputError()}}</p>
    </div>
    <div class="w-1/2 px-3">
        <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-password">
            Contraseña
        </label>
        <input value="{{userPass()}}" #passwordInput (input)="handleInputChange(passwordInput.value,'password')"
            class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 mb-1 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
            id="grid-password" placeholder="******************" type="password">
        <p class="text-red-500 text-xs italic">{{passwordInputError()}}</p>
    </div>
</div>
<div class="flex flex-wrap mb-2 justify-center object-center">
    <button (click)="updateUserData()"
        class="w-auto border rounded-lg bg-orange-500 hover:bg-orange-700 text-white font-bold px-3 py-3">
        <fa-icon class="mr-3" [icon]="saveDataIcon"></fa-icon> {{buttonLabel()}} </button>
</div>


}
@else{
<p class="h1 font-bold text-red-600">
    {{userDataError()}}
</p>
}